body{
    background-color: lightgray;
}
p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
.svgBox{
    height: 500px;
    width: 300px;
    float: left;
    margin-left: 150px;
}
.svgBox2{
    height: 500px;
    width: 300px;
    float: left;
    margin-left: -297px;
}
.svgBox3{
    width: 55%;
    height: 300px;
    float: left;
}
input{
    margin-left: 280px;
    float: left;
}